*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 10fr 1fr;
    height: 100vh;
    width: 100vw;
}

div.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.header > h1{
    font-size: calc((6vmin + 6vmax) / 2);
}

div.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

div.settings > form > ul > h2{
    padding-top: 2.5vmin;
    padding-bottom: 2.5vmin;
    font-size: calc((5vmin + 5vmax) / 2);;
}

div.settings > form > ul > li{
    font-size: calc((3vmin + 3vmax) / 2);
    display: inline;
}

div.settings > form > ul > li > input[type='radio']{
    margin-right: 0.75vw;
    margin-left: 1.25vw;
}

div.settings > form > ul > li > input[type='submit']{
    border: solid 1px lightgrey;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

div.settings > form > ul > li > input[type='submit']:hover{
    background-color: lightgrey;
}

input:hover{
    cursor: pointer;
}

div.footer{
    color: red;
    text-align: center;
}

div.footer > b{
    font-size: calc((2vmin + 2vmax) / 2);
}

input[type='file']::file-selector-button {
    border: solid 1px lightgrey;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

input[type='file']::file-selector-button:hover{
    background-color: lightgrey;
    cursor: pointer;
}
