<!doctype html>
<html>
    <head>
        <title>Image Processing Application</title>
        <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    </head>
    <script>
        window.onload = function(){
            let msg = '{{errormsg}}';
            if(msg.length > 0){
                alert(msg);
            }
        };
    </script>
    <body>
        <div class="header">
            <h1>Image Processing Application</h1>
        </div>

        <div class="settings">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Select Filter:</h2>
                <ul>
                    <li><input type="radio" name="preset" value="gray" id="gray" required>Gray</li>
                    <li><input type="radio" name="preset" value="sepia" id="sepia">Sepia</li>
                    <li><input type="radio" name="preset" value="poster" id="poster">Poster</li>
                    <li><input type="radio" name="preset" value="blur" id="blur">Blur</li>
                    <li><input type="radio" name="preset" value="edge" id="edge">Edge</li>
                    <li><input type="radio" name="preset" value="solar" id="solar">Solar</li>
                </ul>
                <h2>Upload Image:</h2>
                <ul>
                <li>{{form.non_field_errors}}</li>
                <li>{{form.myfilefield.errors}}{{form.myfilefield}}</li>
                <li><input type="submit" value="Submit"></li>
            </form>
        </div>

        <div class="footer">
        </div>
    </body>
</html>
