<!doctype html>
<html>
    <head>
        <title>Image Processing Application</title>
        <link rel="icon" type="image/x-icon" href="/static/camera.png">
        <link href="/static/styles/index.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="header">
            <h1>Image Processing Application</h1>
        </div>

        <div class="settings">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <ul>
                    <h2>Select Filter:</h2>
                    <li><input type="radio" name="preset" value="gray" id="gray" required>Gray</li>
                    <li><input type="radio" name="preset" value="sepia" id="sepia">Sepia</li>
                    <li><input type="radio" name="preset" value="poster" id="poster">Poster</li>
                    <li><input type="radio" name="preset" value="blur" id="blur">Blur</li>
                    <li><input type="radio" name="preset" value="edge" id="edge">Edge</li>
                    <li><input type="radio" name="preset" value="solar" id="solar">Solar</li>
                </ul>

                <ul>
                    <h2>Upload Image:</h2>
                    <li>{{form.non_field_errors}}</li>
                    <li>{{form.myfilefield.errors}}{{form.myfilefield}}</li>
                    <li><input type="submit" value="Submit"></li>
                </ul>
            </form>
        </div>


        <div class="footer">
            <b>{{errormsg}}</b>
        </div>
    </body>
</html>
