<!doctype html>
<html>
    <head>
        <title>Image Processing Application</title>
        <link href="/static/styles/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="header">
            <h1>Image Processing Application</h1>
        </div>
        <div class="output">
            <img src="/static/output/{{outputfilename}}">
        </div>
        <div class="footer">
            <img id="back_arrow" src="/static/back_arrow.png" onclick="location.href='http://localhost:8000/app/'">
            <i>Click back arrow to return to previous page. Click download icon to download processed image.</i>
            <img id="download_symbol" src="/static/download_symbol.png" onclick="location.href='https://{{bucket}}.s3.amazonaws.com/{{outputfilename}}'">
        </div>
    </body>
</html>
